body{
	background-color: #C71585;
	opacity: 1;
	text-align: center;
}
h1{
	color: white;
	font-family: Georgia;
	font-size: 2.1em;
	margin: 20px
	}
input {
	width: 300px;
	height: 40px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	font-family: Georgia;
	text-align: center;
	font-size: 0.5em;
}
input:focus{
	border: solid 5px #00FFCE;
}

button{
	font-family: Georgia
	
#image{
	background-color: #C71585;
	color: white;
	width: 100px;
}
#image:hover{
	background-color: mediumvioletred;
	cursor: pointer;
}